.gradle
.idea
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
*.iml
captures/

#internal
.git-gerrit
.git-github
.gitignore-gerrit
.gitignore-github
release/
security-review/
design/
launch-files/
swap_current.sh

#fabric
/app/fabric.properties
